.field-full-width{
    width: 100%;
}
.mat-form-field{
    margin-top:10px;
}
.signup-form-container{
    width: 50%;
    height: 50vh;
    margin: 20px auto;
}
.signup-form{
    text-align: center;
    vertical-align: middle;
}

.mat-stroked-button{
    margin-right: 10px;
  }