<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [routerLink]="['analytics']">
      <h1>Material</h1>
    </button>
    <span class="menu-spacer"></span>
    <div class="menu-item">
      <button mat-button [matMenuTriggerFor]="dashboardMenu">
        <span>Dashboard</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #dashboardMenu="matMenu">
        <button mat-menu-item routerLink="/dashboard/analytics">
          Analytics
        </button>
        <button mat-menu-item routerLink="/dashboard/members">Members</button>
        <button mat-menu-item routerLink="/dashboard/email-template">
          Email Template
        </button>
        <button mat-menu-item routerLink="/dashboard/sms-template">
          SMS Template
        </button>
        <button mat-menu-item routerLink="/dashboard/settings">Settings</button>
      </mat-menu>
    </div>
    <span class="flex-spacer"></span> <!-- Added flex spacer -->
    <div class="right-menu-item">
      {{userName}}
      <button mat-button (click)="logout()">
        <span>Logout</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>