<div class="login-form-container">
  <form
    [formGroup]="loginForm"
    class="login-form"
    novalidate
    (ngSubmit)="loginUser()"
  >
    <mat-form-field class="field-full-width">
      <input matInput placeholder="Username" formControlName="name" />
      <mat-error>
        <span
          *ngIf="
            !loginForm.get('name')?.valid && loginForm.get('name')?.touched
          "
          >Username is required</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field class="field-full-width">
      <input
        type="password"
        matInput
        placeholder="password"
        formControlName="password"
      />
      <mat-error>
        <span
          *ngIf="
            !loginForm.get('password')?.valid &&
            loginForm.get('password')?.touched
          "
          >Password is required</span
        >
      </mat-error>
    </mat-form-field>
    <div class="text-start mb-3 text-danger" *ngIf="loginError">
        Invalid username or password
      </div>
    <p>Don't have an account? <a routerLink="/signup" class="text-primary">Sign Up Here</a></p>

    <button mat-stroked-button color="primary">Login</button>
  </form>
</div>
