/* :host ::ng-deep{
    .mat-stroked-button{
      margin-right: 10px;
    }
    .add-member-button{
      margin-bottom: 20px;
    }
    table {
        width: 100%;
        text-align: center;
      }
    
} */
html, body { 
    margin: 0;
    height: 100%;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 10px;
}

