<div class="add-form-container">
    <form
      [formGroup]="addSMSTemplateForm"
      class="add-form"
      novalidate
      (ngSubmit)="addSMSTemplate()"
    >
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error>
          <span
            *ngIf="
              !addSMSTemplateForm.get('name')?.valid && addSMSTemplateForm.get('name')?.touched
            "
            >Name is required</span
          >
        </mat-error>
      </mat-form-field>
      
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Template" formControlName="template" />
        <mat-error>
          <span
            *ngIf="
              !addSMSTemplateForm.get('template')?.valid &&
              addSMSTemplateForm.get('template')?.touched
            "
            >Template is required</span
          >
        </mat-error>
      </mat-form-field>
      <button mat-stroked-button color="primary">Submit</button>
    </form>
  </div>
  